* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 1px solid black;
    clear: both;
}

section {
    height: 500px;
    border: 1px solid black;
    float: left;
}

.penguin {
    width: 16.6667%;
}

.turtle {
    width: 50%;
}

.monkey {
    width: 16.6667%;
}

.seal {
    width: 16.6667%;
}