/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Roboto Serif', sans-serif;
}

html {
  font-size: 62.5%;
}
/******************************************
/* LAYOUT
/*******************************************/
header, main, .section1, .section2, .section3, .section4, .section5 {
  width: 100%;
  float: left;
}

header img, header nav, .fa-magnifying-glass, .fa-bag-shopping, .navAnchor, header nav ul, header nav ul a {
  float: left;
}

header img {
  width: 4%;
  margin: 1% 4%;
}

header nav {
  width: 60%;
  margin: 1% 0 1% 3%;
}

header nav ul {
  width: 100%;
}

header nav ul a {
  width: 6%;
  padding: 1% 8%;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.fa-magnifying-glass {
  width: 2%;
  margin: 1% 0;
  padding: .5% 0;
  font-size: 1.2rem;
}

.fa-bag-shopping {
  width: 2%;
  margin: 1% 1%;
  padding: .45% 0;
  font-size: 1.2rem;
}

.navAnchor {
  margin: 1% 4% 1% 6%;
  padding: 0.45% 0;
  text-decoration: none;
  color:black;
  font-size: 1.2rem;
}

main {
  background: url("main.jpg") center;
  background-size: 100% cover;
  background-repeat: no-repeat;
  padding-bottom: 0%;

}

main h1, main p, .serviceButton, .mainBlackBox {
  margin-left: 10%;
}

main h1 {
  width: 100%;
  float: left;
  font-size: 10rem;
  color: white;
  line-height: 1.2;
  font-weight: lighter;
  letter-spacing: .6rem;
}

.mainFirstp {
  width: 100%;
  float: left;
  font-size: 1.2rem;
  letter-spacing: .6rem;
  color: white;
  padding: 0 0 1.5% 0;
}

.serviceButton {
  color: white;
  background: black;
  padding: .7% .9%;
  border: none;
}

.mainBlackBox {
  background-color: black;
  width: 15%;

}

.mainBlackBox h4, .mainBlackBox span, .mainBlackBox p, .mainBlackBox button {
  color: white;
  margin-top: 50%;

}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
